.header {
  background-color: #F44336;
  box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.1), 0px 2px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.16667em;
  display: flex;
  justify-content: space-between;
}

.header-name {
  color: white;
  text-shadow: 1px 2px 2px rgb(99, 97, 97);
  margin: auto 10px auto 0;
  font-size: 1.2em;
}

.srgmkv {
  height: 55px;
  width: 55px;
  background-image: url('../../Images/github2.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s;
}

.srgmkv:hover {
  transform: rotate(360deg)
}

@media screen and (max-width: 500px) {
  .header-name {
    font-size: 1em;
    font-weight: 400;
  }
}