.input {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#text-input {
  width: 50%;
  height: 40px;
  border: 1px solid #F44336;
  background-color: rgb(248, 248, 248);
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

#text-input:focus {
  outline: none !important;
  border: 2px solid #F44336;
  box-shadow: 0 0 5px #719ECE;
}

@media screen and (max-width: 500px) {
  #text-input {
    width: 90%;
  }
}

@media screen and (min-width: 501px)and (max-width: 800px) {
  #text-input {
    width: 70%;
  }
}