.input {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#text-input {
  width: 50%;
  height: 40px;
  border: 3px solid hsl(192, 56%, 47%);
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  #text-input {
    width: 90%;
  }
}

@media screen and (min-width: 501px)and (max-width: 800px) {
  #text-input {
    width: 70%;
  }
}